head
	meta(charset='utf-8')
	meta(content='IE=edge', http-equiv='X-UA-Compatible')
	title Email Template
	meta(content='', name='description')
	meta(content='', name='keywords')
	meta(content='width=device-width, initial-scale=1', name='viewport')

	style
		include ../../build/assets/stylesheet/style.css