doctype html
html
	include partials/header
	body
		div.container
			div.logo
				img(src="http://blog.michaelgenesini.com/content/images/2014/10/logo.png")
			div.content
				p Hi,
				p Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae. consequat vel lacus. Sed iaculis pulvinar ligula, ornare fringilla ante viverra et. In hac habitasse platea dictumst. Donec vel orci mi, eu congue justo. Integer eget odio est, eget malesuada lorem. Aenean sed tellus dui, vitae viverra risus.
				p Nullam massa sapien, pulvinar eleifend fringilla id, convallis eget nisi. Mauris a sagittis dui.
				p Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae. habitasse platea dictumst. Donec vel orci mi, eu congue justo. Integer eget odio est, eget malesuada lorem. Aenean sed tellus dui, vitae viverra risus.
				p Cordiali saluti.
				br
				i Michael Genesini,
				p Co-Founder @ 
					a(href="http://michaelgenesini.com") http://michaelgenesini.com